@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Popins", sans-serif;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  background: url("../images/background.jpg") center / cover no-repeat;
}

.boards {
  display: flex;
  overflow: wrap;
  width: 100%;
}

.boards__item {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  max-width: 250px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 15px;
  padding: 10px;
  transition: 0.3s all ease;
  border-radius: 3px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.delete {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-weight: 900;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.title {
  padding: 5px;
  color: white;
  font-weight: 500;
}

title:focus {
  outline: 1px solid rgba(168, 168, 168, 0.45);
}

.list {
  min-height: 40px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  margin: 4px 0;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  border: none;
}

.list__delete {
  align-items: center;
  background: rgba(70, 67, 67, 0.3);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  height: 1rem;
  justify-content: center;
  width: 1rem;
}

.form {
  display: none;
  border-radius: 3px;
  margin-top: auto;
}

.textarea {
  resize: none;
  height: 60px;
  border-radius: 3px;
  border: none;
  background: white;
  padding: 10px;
  width: 100%;
}

.textarea:focus {
  outline: none;
}

.buttons {
  display: flex;
}

.add__item-btn {
  background: rgb(12, 136, 218);
  border: none;
  cursor: pointer;
  height: 35px;
  color: white;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.cancel__item-btn {
  padding: 0 10px;
  background: rgb(160, 17, 12);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-left: auto;
  flex-shrink: 0;
}

.add__btn {
  height: 30px;
  background: rgba(155, 155, 155, 0.3);
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 12px;
  padding-left: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.button {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(70, 67, 67, 0.3);
  font-weight: 600;
  border: none;
  cursor: pointer;
  width: 150px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  color: black;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.4s all ease;
}

.button:hover {
  font-size: 16px;
  box-shadow: 0px 0px 10px 6px black;
  background: rgba(70, 67, 67, 0.1);
}

@media screen and (min-width: 50px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 450px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 750px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1028px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 2620px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
  }
}
