.container {
  max-width: 400px;
  height: 200px;
  background: lightgray;
  margin: 0 auto;
}

.inputs {
  margin-top: 1rem;
}

.buttons {
  margin: 1rem 0rem;
}

.result {
  background-color: wheat;
}
