$color-body: darkslategray;
$color-app: darkblue;

html {
  font-size: 62.5%;
}

body {
  background: $color-body;
}

label {
  font-size: 2rem;
}

input {
  margin-bottom: 1.5rem;
}

#guest {
  width: 25rem;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

#firstPoint,
#secondPoint,
#certainPoint {
  width: 7rem;
}

#app {
  background: $color-app;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 6px rgba(255, 132, 0, 1);
  display: flex;
  justify-content: space-evenly;
  margin: 10vh auto 0 auto;
  max-width: 95rem;
}

#guest-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.firstSectionInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  line-height: 1.5;
  margin-right: 4rem;
}

.btn {
  background: darkblue;
  border-radius: 40px;
  box-shadow: 0px 0px 5px 3px rgba(255, 132, 0, 1);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  width: 20.9rem;
}

.btn:hover {
  background: rgb(255, 166, 0);
  color: darkblue;
  box-shadow: 0px 0px 10px 6px darkblue;
  transition: 0.5s;
  font-size: 1.6rem;
}

#removeFromTo {
  margin-bottom: 5rem;
}

.secondSectionInputs {
  align-items: center;
  border-right: 3px solid rgb(255, 166, 0);
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin-left: 2rem;
  margin-top: 1rem;
}

#guestsList {
  align-content: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #app {
    display: block;
  }

  .guest-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #guestsList {
    border-top: 3px solid rgb(255, 166, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.6rem;
  }

  .firstSectionInputs {
    margin-left: 5rem;
    margin-right: 0rem;
  }

  .secondSectionInputs {
    border-right: 0;
  }

  label {
    font-size: 2.2rem;
  }

  .btn {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 558px) {
  .firstSectionInputs {
    margin-left: 0rem;
  }

  #guest {
    width: 17rem;
  }

  label {
    text-align: center;
  }
}
