$color-body: darkslategray;
$color-primry: darkblue;

html {
  font-size: 62.5%;
}

body {
  background: $color-body;
}

::placeholder {
  color: #cdcdb7;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 1.8rem;
  }
}

input {
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
  width: 20rem;
}

.container {
  background: $color-primry;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 1.5;
  margin: 10vh auto 0 auto;
  max-width: 90rem;
  text-align: left;
  box-shadow: 0px 0px 15px 6px rgba(255, 132, 0, 1);
}

.data {
  padding: 2rem 2.5rem;
  justify-self: center;
}

.btn {
  background: darkblue;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  box-shadow: 0px 0px 5px 3px rgba(255, 132, 0, 1);
  border-radius: 40px;
  margin: 2rem 4rem;
}

.btn--result {
  align-self: flex-start;
  justify-self: center;
  padding: 2rem 4rem;
  margin-bottom: -3rem;
}

.btn--clear {
  padding: 2rem 4rem;
  margin-top: 0;
  align-self: flex-start;
  justify-self: center;
}

.btn:hover {
  background: rgb(255, 166, 0);
  color: darkblue;
  box-shadow: 0px 0px 10px 6px darkblue;
  transition: 0.5s;
  font-size: 1.8rem;
}

.btn--submit::after {
  content: "   >";
}

.result {
  padding: 3rem 2.5rem;
  border-left: 3px solid rgba(255, 153, 0, 0.934);
  display: grid;
}

.result > img {
  width: 100px;
  margin-top: 6rem;
}

.card {
  border: 3px solid white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 20rem;
  width: 45rem;
}

.cardL {
  text-align: center;
  align-self: center;
}

.cardR {
  text-align: center;
  align-self: center;
}

.cardL > img {
  border-radius: 100%;
}
