html {
  font-family: monospace;
  font-size: 10px;
}

body {
  font-size: 3rem;
  background: darkslategray;
}
.container {
  margin: 10vh auto 0 auto;
  max-width: 62.8rem;
}

.r {
  margin-top: 3rem;
  height: 50vh;
  max-width: 50rem;
  padding: 10rem 16rem;
  background: darkblue;
  color: white;
  box-shadow: 0px 0px 15px 6px rgba(255, 132, 0, 1);
  font-weight: 700;
  overflow: hidden;
}

.btn {
  background: darkblue;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.75rem 1.5rem;
  box-shadow: 0px 0px 5px 3px rgba(255, 132, 0, 1);
  border-radius: 40px;
  margin-top: 2rem;
}

.btn:hover {
  background: rgb(255, 166, 0);
  color: darkblue;
  box-shadow: 0px 0px 10px 6px darkblue;
  transition: 0.5s;
  font-size: 1.8rem;
}

.action {
}
