$color-body: darkslategray;

//NEW
* {
  font-size: 62.5%;
}

body {
  background: $color-body;
}

#app > h1 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

#app {
  color: white;
  margin: 10vh auto 0 auto;
}
#address-book-inputs {
  font-size: 1.8rem;
  text-align: center;
}

form label {
  display: inline-block;
  width: 8rem;
  line-height: 1.5;
}

form input {
  height: 2rem;
  width: 15rem;
  border: none;
  outline: none;
  padding: 0 0.5rem;
}

.btn {
  padding: 0.5rem 3rem;
  background: teal;
  color: white;
  margin-top: 2rem;
  font-weight: 600;
  border-radius: 40px;
}

.container {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 40rem;
}

ul li {
  width: 100%;
  background: white;
  padding: 0 0.5rem;
  color: black;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0.5rem 0;
  text-align: left;
  padding-left: 2rem;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  text-align: center;
  background: #e00;
  border: none;
  font-weight: 700;
}

.delete::after {
  content: "X";
}

.favorite {
  background: gold;
  border: none;
  width: 3rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 6rem;
  text-align: center;
  font-weight: 700;
  content: "edit";
}
.favorite::after {
  content: "+";
  font-size: 1.2rem;
}

.edit {
  background: green;
  border: none;
  width: 3rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 3rem;
  text-align: center;
  font-weight: 700;
}
.edit::after {
  content: "Edit";
}

#favContact {
  color: goldenrod;
  background: greenyellow;
}

#addedToFav {
  background: gold;
  font-weight: bold;
}

#addedToFav .favorite {
  color: black;
  background: white;
}
